<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.job.ums.mapper.UmsSignMapper">

    <select parameterType="org.jeecg.modules.job.ums.entity.UmsSign"
            resultType="org.jeecg.modules.job.ums.entity.UmsSign" id="getSignList">
        select ua.*,su.avatar as userAvatar,su.realname as userName,su.phone as userPhone
        from ums_sign ua
        left join sys_user su on su.id = ua.user_id
        where 1 = 1
        <if test="paramCondition.keyword != null and paramCondition.keyword !='' ">
            and (su.realname like CONCAT('%',#{paramCondition.keyword},'%') or su.phone like CONCAT('%',#{paramCondition.keyword},'%'))
        </if>
        <if test="paramCondition.userId!=null and paramCondition.userId!=''">
            AND ua.user_id = #{paramCondition.userId}
        </if>
        <if test="paramCondition.signType!=null and paramCondition.signType!=''">
            AND ua.sign_type = #{paramCondition.signType}
        </if>
        order by ua.create_time desc
    </select>

</mapper>