<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.job.ums.mapper.UmsWithdrawAccountMapper">

    <select id="getWithdrawAccountList" resultType="org.jeecg.modules.job.ums.entity.UmsWithdrawAccount" parameterType="org.jeecg.modules.job.ums.entity.UmsWithdrawAccount">
        select uwa.*,
        su.avatar as userAvatar,su.nickname as userName,su.phone as userPhone
        from ums_withdraw_account  uwa
        left join sys_user su on su.id=uwa.user_id
        where 1 = 1
        <if test="paramCondition.userId != null and paramCondition.userId != ''">
            and uwa.user_id = #{paramCondition.userId}
        </if>
        <if test="paramCondition.accountType != null and paramCondition.accountType != ''">
            and uwa.account_type = #{paramCondition.accountType}
        </if>
        <if test="paramCondition.keyword != null and paramCondition.keyword != ''">
            and (su.nickname like CONCAT('%',#{paramCondition.keyword},'%') or su.phone like CONCAT('%',#{paramCondition.keyword},'%')
            or uwa.account like CONCAT('%',#{paramCondition.keyword},'%') or uwa.realname like CONCAT('%',#{paramCondition.keyword},'%')
            )
        </if>
        order by uwa.create_time desc
    </select>

</mapper>